{% extends 'layouts/layout' %}

{% block content %}

{% set entry = craft.entries.section('availableWork').one() %}

<nav class="secondary pt-4">
    <ul>
        {% if entry.prints|length %}
            <li>
                <a href="/available-work/#limited-editions">Limited editions</a>
            </li>
        {% endif %}
        {% if entry.paintings|length %}
            <li>
                <a href="/available-work/#paintings">Paintings</a>
            </li>
        {% endif %}
        {% if entry.objects|length %}
            <li>
                <a href="/available-work/#objects">Objects</a>
            </li>
        {% endif %}
            <li>
                <a href="/available-work/archive">Archive</a>
            </li>
    </ul>
</nav>

    {# Prints matrix loop #}
        {#<div id="limited-editions" class="pt-5 pb-2">
            <h3>Limited editions</h3>
        </div>#}
        <div class="row pb-5">
            {% for block in entry.prints.all() %}
                {% if block.archive|length %}
                    {% if block.image|length %}
                        <div class="col-lg-4 portfolio wow fadeIn">
                            {% for asset in block.image.all() %}
                                {% set mode = (asset.getWidth() > asset.getHeight()) ? "landscape" : "portrait" %}
                                {% if mode == "landscape" %}
                                {% if block.printUrl == url('https://andrewjsteel.com/available-work/paper-works') %}
                                    <a href="{{ block.printUrl }}">
                                        <img src="{{ asset.getUrl('landscape') }}" class="pb-2" alt="{{ block.imageCaptionTitle }}" title="{{ block.imageCaptionTitle }}" />
                                    </a>
                                {% else %}
                                    <a href="{{ block.printUrl }}" target="_blank">
                                        <img src="{{ asset.getUrl('landscape') }}" class="pb-2" alt="{{ block.imageCaptionTitle }}" title="{{ block.imageCaptionTitle }}" />
                                    </a>
                                {% endif %}
                                {% else %}
                                <a href="{{ block.printUrl }}" target="_blank">
                                    <img src="{{ asset.getUrl('portrait') }}" class="pb-2" alt="{{ block.imageCaptionTitle }}" title="{{ block.imageCaptionTitle }}" />
                                </a>
                                {% endif %}
                            {% endfor %}
                            <p class="float-left">
                                {{ block.imageCaptionTitle }}
                            </p>
                            <p class="float-right text-uppercase font-weight-bold">
                                <a href="{{ block.printUrl }}" target="_blank">Online store</a>
                            </p>
                        </div>
                    {% endif %}
                {% else %}
                {% endif %}
            {% endfor %}
        </div>

    {# Paintings matrix loop #}
        <div id="paintings" class="pt-5 pb-2">
            <h3>Paintings</h3>
        </div>
        <div class="row pb-5">
            {% for block in entry.paintings.all() %}
                {% if block.archive|length %}
                    {% if block.image|length %}
                        <div class="col-lg-4 portfolio wow fadeIn">
                            {% for asset in block.image.all() %}
                                {% set mode = (asset.getWidth() > asset.getHeight()) ? "landscape" : "portrait" %}
                                {% if mode == "landscape" %}
                                    <img src="{{ asset.getUrl('landscape') }}" class="pb-2" alt="{{ block.imageCaptionTitle }}" title="{{ block.imageCaptionTitle }}" />
                                {% else %}
                                    <img src="{{ asset.getUrl('portrait') }}" class="pb-2" alt="{{ block.imageCaptionTitle }}" title="{{ block.imageCaptionTitle }}" />
                                {% endif %}
                            {% endfor %}
                            <p class="float-left">
                                {{ block.imageCaptionTitle }}
                            </p>
                            <p class="float-right text-uppercase font-weight-bold">
                                <a href="mailto:andrew@andrewjsteel.com?subject=Enquiry&body={{ block.imageCaptionTitle }}">Enquire</a>
                            </p>
                        </div>
                    {% endif %}
                {% else %}
                {% endif %}
            {% endfor %}
        </div>

    {# Objects matrix loop #}
        <div id="objects" class="pt-5 pb-2">
            <h3>Objects</h3>
        </div>
        <div class="row pb-5">
            {% for block in entry.objects.all() %}
                {% if block.archive|length %}
                    {% if block.image|length %}
                        <div class="col-lg-4 portfolio wow fadeIn">
                            {% for asset in block.image.all() %}
                            {% set mode = (asset.getWidth() > asset.getHeight()) ? "landscape" : "portrait" %}
                                {% if mode == "landscape" %}
                                    <img src="{{ asset.getUrl('landscape') }}" class="pb-2" alt="{{ block.imageCaptionTitle }}" title="{{ block.imageCaptionTitle }}" />
                                {% else %}
                                    <img src="{{ asset.getUrl('portrait') }}" class="pb-2" alt="{{ block.imageCaptionTitle }}" title="{{ block.imageCaptionTitle }}" />
                                {% endif %}
                            {% endfor %}
                            <p class="float-left">
                                {{ block.imageCaptionTitle }}
                            </p>
                            <p class="float-right text-uppercase font-weight-bold">
                                <a href="mailto:andrew@andrewjsteel.com?subject=Enquiry&body=Hi Andrew, I'd like to enquire about purchasing the artwork {{ block.imageCaptionTitle }}. Can you send me some info on the piece? Thanks,">Enquire</a>
                            </p>
                        </div>
                    {% endif %}
                {% else %}
                {% endif %}
            {% endfor %}
        </div>

{% endblock %}
