{% extends 'layouts/layout' %}

{% block content %}

	<div class="container" style="position: relative;">

		<img class="d-block" src="/uploads/art-fair.gif" alt="Artfair" title="Artfair" />
		<a href="https://artfair.co.nz" style="position: absolute;top: 0;display: block;width: 50%;height: 100%;float: left;"></a>
		<a href="/" style="position: absolute;top: 0;right: 0; display: block;width: 50%;height: 100%;float: right;"></a>

	</div>

	<div style="text-align: center; padding-top: 2rem;">
	<p style="color: #CCC; font-size: 0.72rem;"><strong>Disclaimer</strong><br />
	Andrew J. Steel is not associated with the Aotearoa Art Fair. We are just having some fun and generating interest in the event and New Zealand Art.</p>
	</div>

{% endblock %}