{% extends 'layouts/layout' %}

{% block content %}

    <nav class="secondary pt-4">
        <ul>
            {% if entry.prints|length %}
                <li>
                    <a href="#limited-editions">Limited editions</a>
                </li>
            {% endif %}
            {% if entry.paintings|length %}
                <li>
                    <a href="#paintings">Paintings</a>
                </li>
            {% endif %}
            {% if entry.objects|length %}
                <li>
                    <a href="#objects">Objects</a>
                </li>
            {% endif %}

                <li>
                    <a href="/available-work/archive">Archive</a>
                </li>
        </ul>
    </nav>

    {# Lim Ed matrix loop #}
    {% if entry.prints|length %}
        <div id="limited-editions" class="pt-5 pb-2">
            <h3>Limited editions</h3>
        </div>
        <div class="row pb-5">
            {% for block in entry.prints.all() %}
                {% if block.archive|length %}
                {% else %}
                    {% if block.image|length %}
                        <div class="col-lg-4 portfolio wow fadeIn">
                            {% for asset in block.image.all() %}
                                {% set mode = (asset.getWidth() > asset.getHeight()) ? "landscape" : "portrait" %}
                                {% if mode == "landscape" %}
                                {% if block.printUrl == url('https://andrewjsteel.com/available-work/paper-works') %}
                                    <a href="{{ block.printUrl }}">
                                        <img src="{{ asset.getUrl('landscape') }}" class="pb-2" alt="{{ block.imageCaptionTitle }}" title="{{ block.imageCaptionTitle }}" />
                                    </a>
                                {% else %}
                                    <a href="{{ block.printUrl }}" target="_blank">
                                        <img src="{{ asset.getUrl('landscape') }}" class="pb-2" alt="{{ block.imageCaptionTitle }}" title="{{ block.imageCaptionTitle }}" />
                                    </a>
                                {% endif %}
                                {% else %}
                                <a href="{{ block.printUrl }}" target="_blank">
                                    <img src="{{ asset.getUrl('portrait') }}" class="pb-2" alt="{{ block.imageCaptionTitle }}" title="{{ block.imageCaptionTitle }}" />
                                </a>
                                {% endif %}
                            {% endfor %}
                            <p class="float-left">
                                {{ block.imageCaptionTitle }}
                            </p>
                            <p class="float-right text-uppercase font-weight-bold">
                                <a href="{{ block.printUrl }}" target="_blank">Online store</a>
                            </p>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {# Paintings matrix loop #}
    {% if entry.paintings|length %}
        <div id="paintings" class="pt-5 pb-2">
            <h3>Paintings</h3>
        </div>
        <div class="row pb-5">
            {% for block in entry.paintings.all() %}
                {% if block.archive|length %}
                {% else %}
                    {% if block.image|length %}
                        <div class="col-lg-4 portfolio wow fadeIn">
                            {% for asset in block.image.all() %}
                                {% set mode = (asset.getWidth() > asset.getHeight()) ? "landscape" : "portrait" %}
                                {% if mode == "landscape" %}
                                    <img src="{{ asset.getUrl('landscape') }}" class="pb-2" alt="{{ block.imageCaptionTitle }}" title="{{ block.imageCaptionTitle }}" />
                                {% else %}
                                    <img src="{{ asset.getUrl('portrait') }}" class="pb-2" alt="{{ block.imageCaptionTitle }}" title="{{ block.imageCaptionTitle }}" />
                                {% endif %}
                            {% endfor %}
                            <p class="float-left">
                                {{ block.imageCaptionTitle }}
                            </p>
                            <p class="float-right text-uppercase font-weight-bold">
                                <a href="mailto:andrew@andrewjsteel.com?subject=Enquiry&body={{ block.imageCaptionTitle }}">Enquire</a>
                            </p>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {# Objects matrix loop #}
    {% if entry.prints|length %}
        <div id="objects" class="pt-5 pb-2">
            <h3>Objects</h3>
        </div>
        <div class="row pb-5">
            {% for block in entry.objects.all() %}
                {% if block.archive|length %}
                {% else %}
                    {% if block.image|length %}
                        <div class="col-lg-4 portfolio wow fadeIn">
                            {% for asset in block.image.all() %}
                            {% set mode = (asset.getWidth() > asset.getHeight()) ? "landscape" : "portrait" %}
                                {% if mode == "landscape" %}
                                    <img src="{{ asset.getUrl('landscape') }}" class="pb-2" alt="{{ block.imageCaptionTitle }}" title="{{ block.imageCaptionTitle }}" />
                                {% else %}
                                    <img src="{{ asset.getUrl('portrait') }}" class="pb-2" alt="{{ block.imageCaptionTitle }}" title="{{ block.imageCaptionTitle }}" />
                                {% endif %}
                            {% endfor %}
                            <p class="float-left">
                                {{ block.imageCaptionTitle }}
                            </p>
                            <p class="float-right text-uppercase font-weight-bold">
                                <a href="mailto:andrew@andrewjsteel.com?subject=Enquiry&body=Hi Andrew, I'd like to enquire about purchasing the artwork {{ block.imageCaptionTitle }}. Can you send me some info on the piece? Thanks,">Enquire</a>
                            </p>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {# Archive matrix loop #}
    {#{% if entry.archive|length %}
        <div id="archive" class="pt-5 pb-2">
            <h3>Archive</h3>
        </div>
        <div class="row pb-5">
            {% for block in entry.archive.all() %}
                {% if block.image|length %}
                    <div class="col-lg-4 portfolio wow fadeIn">
                        {% for asset in block.image.all() %}
                        {% set mode = (asset.getWidth() > asset.getHeight()) ? "landscape" : "portrait" %}
                            {% if mode == "landscape" %}
                                <img src="{{ asset.getUrl('landscape') }}" class="pb-2" alt="{{ block.imageCaptionTitle }}" title="{{ block.imageCaptionTitle }}" />
                            {% else %}
                                <img src="{{ asset.getUrl('portrait') }}" class="pb-2" alt="{{ block.imageCaptionTitle }}" title="{{ block.imageCaptionTitle }}" />
                            {% endif %}
                        {% endfor %}
                        <p class="float-left">
                            {{ block.imageCaptionTitle }}
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}#}

    {% include 'includes/page-intro' %}

{% endblock %}
