{% extends 'layouts/layout' %}

{% block content %}

    <div class="slide d-none d-sm-block wow fadeIn">
    </div>

    <img class="d-block d-sm-none" src="/assets/img/ajs-slide-10.jpg" alt="Andrew J Steel" title="Andrew J Steel" width="293" />

{% endblock %}
