{% extends 'layouts/layout' %}

{% block content %}

    <nav class="secondary pt-4">
        <ul>
            {% if entry.paperWorks|length %}
                <li>
                    <a href="#limited-works">Limited editions</a>
                </li>
            {% endif %}
        </ul>
    </nav>

    {% include 'includes/page-intro' %}

    {# Paper works matrix loop #}
    {% if entry.paperWorks|length %}
        <div id="paper-works" class="pt-5 pb-2">
            <h3>Paper works</h3>
        </div>
        <div class="row pb-5">
            {% for block in entry.paperWorks.all() %}
                {% if block.image|length %}
                    <div class="col-lg-4 portfolio wow fadeIn">
                        {% for asset in block.image.all() %}
                            {% set mode = (asset.getWidth() > asset.getHeight()) ? "landscape" : "portrait" %}
                            {% if mode == "landscape" %}
                                <a href="{{ block.printUrl }}" target="_blank">
                                    <img src="{{ asset.getUrl('landscape') }}" class="pb-2" alt="{{ block.imageCaptionTitle }}" title="{{ block.imageCaptionTitle }}" />
                                </a>
                            {% else %}
                            <a href="{{ block.printUrl }}" target="_blank">
                                <img src="{{ asset.getUrl('portrait') }}" class="pb-2" alt="{{ block.imageCaptionTitle }}" title="{{ block.imageCaptionTitle }}" />
                            </a>
                            {% endif %}
                        {% endfor %}
                        <p class="float-left">
                            {{ block.imageCaptionTitle }}
                        </p>
                        <p class="float-right text-uppercase font-weight-bold">
                            <a href="{{ block.printUrl }}" target="_blank">Online store</a>
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}
