{% extends 'layouts/layout' %}
{% requireLogin %}
{% block content %}

    <div class="seoWrap">
        <div class="seoReport" style="max-width: 1140px">
            <iframe width="1140" height="2170" src="https://datastudio.google.com/embed/reporting/1Hl9ZN0ishjkNdNVTI9zeD5dianNj2b_R/page/cDXX" frameborder="0" style="border:0" allowfullscreen></iframe>
            <div class="iframeFoot"></div>
        </div>
    </div>

{% endblock %}
