<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="home" href="{{ siteUrl }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="shortcut icon" href="/favicon.ico" >

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,600,300,500' rel='stylesheet' type='text/css'>

	{# Cachebust the CSS/JS #}
    {% set assetVersion = craft.app.config.env == "dev" ? date().getTimestamp() : 0.27 %}

	{# CSS #}
	{% do view.registerCssFile("/assets/css/vendor.min.css?v="~assetVersion) %}
	{% do view.registerCssFile("/assets/css/site.min.css?v="~assetVersion) %}

	<style>
	.pageIntro p{
		font-size: 1rem;
		line-height: 1.6rem;
	}
	#header nav ul li.av{
		width: 100%;
		padding-bottom: 1rem;
	}
	@media (min-width: 576px) {
		.pageIntro p{
			font-size: 1.6rem;
		}
		#header nav ul li.av{
			width: auto;
			padding-bottom: 0;
		}
	}
	</style>

	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-WSZMHNW4');</script>

</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4GZDMMCQ1H"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
 
  gtag('config', 'G-4GZDMMCQ1H');
</script>

<body id="{{ entry is defined ? entry.title|lower : "ajs" }}">

	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WSZMHNW4"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	<div id="loader-wrapper">
		<div id="loader">
			<img src="/assets/img/andrew-j-steel.png" alt="Andrew J Steel" title="Andrew J Steel"/>
		</div>
		<div class="loader-section"></div>
	</div>
	<div class="container-fluid">
		<header id="header">
			<h1>
				<a href="{{ siteUrl }}">
					<img src="/assets/img/andrew-j-steel.png" alt="Andrew J Steel" title="Andrew J Steel"/>
				</a>
			</h1>

			<nav>
				<ul>
					<li class="av"><a href="{{ url('available-work') }}" {% if craft.app.request.segments|first == 'available-work' %}class="active"{% endif %}>Available work</a></li>
					<li><a href="{{ url('interior') }}" {% if craft.app.request.segments|first == 'interior' %}class="active"{% endif %}>Interior</a></li>
					<li><a href="{{ url('exterior') }}" {% if craft.app.request.segments|first == 'exterior' %}class="active"{% endif %}>Exterior</a></li>
					<li><a href="{{ url('digital') }}" {% if craft.app.request.segments|first == 'digital' %}class="active"{% endif %}>Digital</a></li>
					{#<li><a href="//store.andrewjsteel.com">Prints</a></li>#}
					<li><a href="{{ url('about') }}" {% if craft.app.request.segments|first == 'about' %}class="active"{% endif %}>About</a></li>
				</ul>
			</nav>
		</header>

		<main id="content">
			{% block content %}
			{% endblock %}
		</main>

		<footer id="footer">
			&copy; Andrew J Steel {{ now|date('Y') }}
		</footer>
	</div>

	{# JS #}
	{% do view.registerJsFile("/assets/js/jquery-3.2.1.min.js") %}
	{% do view.registerJsFile("/assets/js/vendor.min.js?v="~assetVersion) %}
	{% do view.registerJsFile("/assets/js/main.min.js?v="~assetVersion) %}

</body>
</html>
