{% if entry.pageIntro|length %}
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="pageIntro col-lg-8 text-center pt-5 pb-5">
            <p>{{ entry.pageIntro }}</p>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
{% endif %}
